@import "tailwindcss";
body {
  background-color: #02012B; /* Color de fondo claro */
  margin: 0;                 /* Elimina el margen predeterminado del navegador */
  padding: 0 5rem;                /* Elimina el padding predeterminado del navegador */
  font-family: Arial, sans-serif; /* Establece una fuente base */
  color: #333;              /* Color de texto base */
  line-height: 1.6;          /* Interlineado para mejor legibilidad */
}